
<ion-tabs>
  
  <div *ngIf="selectedBook" style="z-index: 100; background-color: white;">
      <div class="audio-player margin-vt-s">
        <ion-item lines="none">
          <img [src]="selectedBook.img" class="border-radius-s" height="80px">
          <div class="margin-left-l">
            <ion-label class="bold">
              {{ selectedBook?.title }}
            </ion-label>
            <ion-label class="margin-top-s">
              Temps restant : {{ remainingTime }}
            </ion-label>
          </div>
          <ion-button class="font-size-icon"  fill="clear" slot="end" (click)="rewind30Seconds()">
            <ion-icon  style="transform: rotate(180deg);" name="reload"></ion-icon>
          </ion-button>
          <ion-button class="font-size-icon"  fill="clear" slot="end" (click)="isBookPlaying ? pauseAudio() : playAudio()">
            <ion-icon [name]="isBookPlaying ? 'pause-circle' : 'play-circle'"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
  </div> 
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="library" href="/tabs/library">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Bibilothèque</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
