
  .container {
    overflow: hidden;
  }

::ng-deep .ripple {
    position: fixed;
    border-radius: 50%;
    height: 20px;
    opacity: 0.6;
    width: 20px;
    background: white;
    
    animation: ripple-animation 0.5s ease-out;
    pointer-events: none; /* Pour éviter d'interférer avec d'autres éléments cliquables */
  }
  
  @keyframes ripple-animation {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
